/* Google Fontsから快適な読み心地のフォントをインポート */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

.body {
    font-family: 'Nunito', sans-serif;
    background-color: #F0F4F8; /* ソフトな青灰色の背景 */
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF; /* コンテナの背景色を白に */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* ソフトな影を追加 */
    border-radius: 10px; /* 角の丸みを追加 */
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input {
    padding: 10px;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    background-color: #FAFAFA;
}

.form_group {
    margin-bottom: 20px;
}

.form_group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold; /* ラベルを強調 */
}

.form_group input[type="text"],
.form_group textarea,
.form_group select,
.form_group input[type="range"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px; /* 入力欄の角を丸く */
    border: 1px solid #CED4DA; /* 枠線をソフトグレーに */
    background-color: #FAFAFA; /* 入力欄の背景色 */
}

.note {
    font-size: 0.85em;
    color: #666;
}

.chat_box {
    height: 200px;
    border: 1px solid #CED4DA;
    padding: 10px;
    overflow-y: auto;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 5px; /* チャットボックスの角を丸く */
}

.chat_input {
    width: calc(100% - 120px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    background-color: #FAFAFA;
    display: inline-block;
}

.button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px; /* ボタンの角をより丸く */
    background-color: #81C784; /* ボタンの背景色をソフトな緑に */
    color: white;
    cursor: pointer;
    max-width: 200px; 
    display: inline-block;
    margin-right: 10px;
}

.button:hover {
    background-color: #66BB6A;
}

/* 最後のボタンには余分なマージンが不要な場合 */
.button:last-child {
    margin-right: 0;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}

.link {
    display: inline-block;
    padding: 4px 16px;
    border: none;
    background-image: linear-gradient(45deg, #6e8efb, #88c9f9);
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .link:hover {
    background-image: linear-gradient(45deg, #577be5, #6fb1f7);
    
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .submitted {
    color: green;
  }
  
  .notSubmitted {
    color: red;
  }
  
  .link {
    text-decoration: none;
    color: blue;
  }
  